link-workspace-packages = deep
disallow-workspace-cycles = true
prefer-workspace-packages = true
resolve-peers-from-workspace-root = true
dedupe-peer-dependents = true
recursive-install = true
shared-workspace-lockfile = true